:root {
    --aio-transition-duration: 0.75s;
    --aio-translate-amount: 50px;
}

@mixin transition-properties {
    transition-duration: var(--aio-transition-duration);
}

[data-aiobserve*="fade-in"] {
    @include transition-properties(); opacity: 0;
    &[class*="aio-fade-in"] { opacity: 1; }
}

[data-aiobserve="fade-in-left"] {
    transform: translateX(calc(var(--aio-translate-amount) * -1));
    &.aio-fade-in-left { transform: translateX(0); }
}

[data-aiobserve="fade-in-right"] {
    transform: translateX(var(--aio-translate-amount));
    &.aio-fade-in-right { transform: translateX(0); }
}

[data-aiobserve="fade-in-up"] {
    transform: translateY(calc(var(--aio-translate-amount) * -1));
    &.aio-fade-in-up { transform: translateY(0); }
}

[data-aiobserve="fade-in-down"] {
    transform: translateY(var(--aio-translate-amount));
    &.aio-fade-in-down { transform: translateY(0); }
}

[data-aiobserve*="fade-out"] {
    @include transition-properties(); opacity: 1;
    &[class*="aio-fade-out"] { opacity: 0; }
}

[data-aiobserve="fade-out-left"] {
    transform: translateX(0);
    &.aio-fade-out-left { transform: translateX(calc(var(--aio-translate-amount) * -1)); }
}

[data-aiobserve="fade-out-right"] {
    transform: translateX(0);
    &.aio-fade-out-right { transform: translateX(var(--aio-translate-amount)); }
}

[data-aiobserve="fade-out-up"] {
    transform: translateY(0);
    &.aio-fade-out-up { transform: translateY(calc(var(--aio-translate-amount) * -1)); }
}

[data-aiobserve="fade-out-down"] {
    transform: translateY(0);
    &.aio-fade-out-down { transform: translateY(var(--aio-translate-amount)); }
}